<div class="column">
  <!-- title -->
  <h1>{{ site.data[page.lang].lang["slick"]["title"] }}</h1>

  <!-- slider caption -->
  <h4>{{ site.data[page.lang].lang["slick"]["description"] }}</h4>

  <div class="img_slider">
    <!-- {% for item in site.data[page.lang].lang["slick"]["pics"] %}
      <img src="{{ item.pic }}">
    {% endfor %} -->
    <img src="{{ site.baseurl }}/assets/slick_pics/OC-Illustration-SystemLight-01.svg">
    <img src="{{ site.baseurl }}/assets/slick_pics/OC-Illustration-SystemLight-02.svg">
    <img src="{{ site.baseurl }}/assets/slick_pics/OC-Illustration-SystemLight-03.svg">
    <img src="{{ site.baseurl }}/assets/slick_pics/OC-Illustration-SystemLight-04.svg">
  </div>
</div>